<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>AIzaSyC6E2oBFBEpA96NQZ-ELZpxx5vOyXs2LC8</string>
    <key>ROUTES_API_KEY</key>
    <string>AIzaSyDMc07yYqGUv9ppRsafg1AvoZc4yKwRaW0</string>
</dict>

</plist>
